button {
  background: none;
  border: none;
  cursor: pointer;
}

.btn {
  & p {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  &--header {
    padding: 12px 24px !important;
  }
  &-primary {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    background-color: $accent-color;
    color: $white;
    border-radius: 8px;
    padding: 16px 40px;
    &:hover {
      background-color: #3c66b5;
      transition: $transition;
    }
  }
  &-secondary {
    display: flex;
    align-items: center;
    color: $accent-color;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;    
    align-items: center;      
    & svg {
      margin-left: 4px;
    }
  }
}

@media screen and (max-width: 425px) {
  .btn {
    & a {
      font-size: 14px;
    }
  }
}
