.cover {
  &__container {
    position: relative;
    overflow: auto;
    border-radius: 12px;
  }
  &__text {
    display: flex;
    justify-content: space-between;
    & h2 {
      color: $black;
      font-weight: 500;
      font-size: 40px;
      line-height: 43px;
      font-style: bold;
    }
    & p {
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $text-color;
    }
  }
  &__image {
    & img {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      height: auto;
      object-fit: cover;
    }
  }

  &__decor {
    position: absolute;
    right: 0;
    overflow: hidden;
    width: auto;
    height: auto;
  }
  &__sectors {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(24px);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 12px;
    overflow: hidden;
    & p {
      color: $white;
      font-weight: 500;
      font-size: 32px;
      line-height: 38px;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .cover__container {
    flex-direction: column;
  }
  .cover__text {
    flex-direction: column;
    & h2 {
      margin-bottom: 24px;
    }
  }
  .cover__text p {
    max-width: 425px;
  }
  .cover__sectors p {
    font-size: 28px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  .cover__decor {
    display: none;
  }
}

@media (max-width: 768px) {
  .cover__text {
    & h2 {
      font-size: 32px;
    }
    & p {
      max-width: 325px;
    }
  }
  .cover__sectors {
    padding: 30px;
    border-top-right-radius: 50px;
    & p {
      font-size: 24px;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
    .cover__image img {
      width: 100%;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      height: auto;
      object-fit: cover;
    }
  }
}

@media (max-width: 425px) {
  .cover__text {
    display: block;
    margin-bottom: 30px;
    & h2 {
      font-size: 32px;
      margin-bottom: 12px;
    }
    & p {
      max-width: 325px;
    }
  }
}

.cover--career {
  .cover__text p {
    max-width: 595px;
  }
  .cover__decor {
    right: -165px;
    bottom: 0;
  }
  .cover__image img {
    width: 100%;
  }
}

.cover--services {
  .cover__container {
    background-color: $gray-light;
  }
  .cover__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 60px 0px;
    & h2 {
      margin-bottom: 60px;
    }
  }
  .cover__image {
    display: flex;
    justify-content: center;
  }
  .cover__sectors {
    margin: 0px 30px;
  }
}

.cover__decor {
  right: 30px;
  bottom: 30px;
}

@media (max-width: 1024px) {
  .cover--services .cover__sectors {
    margin: 0px;
  }
}