.cta {
  &__container {
    min-height: 811px;
    position: relative;
    width: 100%;
    background-color: $gray-light;
    border-radius: 12px;
    display: flex;
    align-items: center;

  }

  &__content {
    margin-left: 93px;
    width: 42%;
  }
  &__text {
    & h1 {
      width: 100%;
      position: relative;
      margin-bottom: 40px;
      font-weight: 400;
    }
  }

  &__btn {
    position: relative;
    display: flex;
    justify-content: left;
  }
  &__image {
    z-index: 1;
    & img {
      object-fit: cover;
      top: 0;
      width: 100%;
      height: auto;
    }
  }
  &__decor {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (max-width: 768px) {
  .cta__text {
    & h1 {
      font-size: 30px;
      line-height: 36px;
    }
  }
  .cta__decor {
    display: none;
  }
}

@media (max-width: 720px) {
  .cta__content {
    margin-left: 0px;
  }
  .cta__container {
    min-height: 420px;
    height: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column-reverse;
    align-items: left;
    justify-content: center;
    align-items: center;
  }
  .cta__image {
    display: flex;
    justify-content: center;

    & img {
      height: auto;
      width: 80%;
      object-fit: contain;
      left: 20%;
    }
  }
  .cta__text {
    margin-bottom: -20px;
  }
}

@media (max-width: 425px) {
  .cta__container {
    padding-bottom: 24px;
  }
  .cta__content {
    max-width: 320px;
    width: 100%;
  }
  .cta__text {
    margin: 50px 0px;

    & h1 {
      font-size: 26px;
    }
  }
}
@media (max-width: 320px) {
  .cta__text {
    margin-bottom: -20px;

    & h1 {
      font-size: 26px;
    }
  }
}
