.cta {
  &__container {
    background-image: url(../../img/cta__decor.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 811px;
    position: relative;
    width: 100%;
    background-color: $gray-light;
    border-radius: 12px;
    display: flex;
    align-items: center;
  }
  
  &__content {
    margin-left: 93px;
    width: 60%;
  }
  &__text {
    & h1 {
      width: 100%;
      position: relative;
      margin-bottom: 40px;
      font-weight: 400;
    }
  }

  &__btn {
    position: relative;
    display: flex;
    justify-content: left;
  }
  &__image {
    // left: 20%;
    // clip-path: inset(0 28% 0 0);
    // position: relative;
    & img {
      object-fit: cover;
      top: 0;
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .cta__text {

    margin-left: 30px;
  }
}
