.header {
  background-color: $white;
  padding: 30px 0px;
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000; /* Щоб header був зверху */
  }
  .header__mega-menu {
    transition: all 0.5s;
    background-color: $white;
    position: absolute;
    width: 581px;
    visibility: hidden;
    opacity: 0;
    border-radius: 8px;
    z-index: 100;
    box-shadow: 0px 0px 9px 0px rgba(45, 86, 163, 0.1);
    // overflow: hidden;

    &-wrapper {
      padding: 20px 12px;
      width: 100%;
      display: flex;
      flex-direction: column;
      & p {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 18px;
      }
      ul {
        display: block;
        margin: 24px 0px;

        &:not(:first-of-type):before {
          padding: 24px 0; /* Встановлює відступ зверху та знизу */
          content: "";
          position: absolute;
          top: -4px; /* Розташування роздільника */
          left: 0;
          width: 95%;
          border-top: 1px solid;
          display: block;
          color: $text-color;
          transform: translateY(-50%);
          ul:not(:first-of-type) {
            margin-top: 12px; /* Відступ зверху */
            color: $text-color;
            border-top: 1px solid;
          }

          ul:not(:last-of-type) {
            margin-bottom: 12px; /* Відступ знизу */
            color: $text-color;
            border-top: 1px solid;
          }
        }
      }

      & a {
        justify-content: space-between;
        max-width: 517px;
        width: 100%;
        margin-bottom: 10px;
        color: $text-color;
      }
    }
  }
  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    height: auto;
    max-width: 113px;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
    & a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0;
    }
    & svg {
      width: 100%;
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    max-width: 409px;
    width: 100%;
    &:hover {
      cursor: pointer;
    }

    ul {
      position: relative;
      left: 16px;
      display: flex;
      list-style: none;
      align-items: center;
      gap: 32px;
    }
    li {
      position: relative;
      &:hover svg {
        transition: $transition;
      }
    }
    li:first-child:hover .header__mega-menu {
      opacity: 1;
      visibility: visible;
    }
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $black;
      &:hover {
        color: $accent-color;
        transition: $transition;
      }
    }
    svg {
      margin-left: 8px;
      &:hover {
        fill: red;
      }
    }
  }
  &__menu {
    display: none;
  }
}

.mega__menu-dropdown {
  width: 100%;
  transform: translate(0, 0px);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: visible;
  visibility: 1;
}
.mega__menu-dropdown.show {
  width: 90%;
  overflow-y: auto;
  height: 100%;
  z-index: 99;
  background: $white;
  transform: translate(0px, 0px);
  transition: transform 1s;
}
.mega__menu-dropdown.show .mega__menu-item {
  /* Переміщаємо елементи на 100% вліво, коли .show активний */
  transform: translateX(-100%);
}

@media (max-width: 1024px) {
  .header__nav,
  .header__btn {
    display: none;
  }
  .header__menu {
    display: block;
  }
}
@media (max-width: 425px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
  }
}
