.header {
  background-color: $white;
  padding: 30px 0px;
  .header__mega-menu {  
    background-color: $white;
    position: absolute;
    width: 581px;
    display: none;
    border-radius: 8px;
    z-index: 100;

    &-wrapper {
        padding: 42px 12px;
        width: 100%;
        display: flex;
        flex-direction: column;
        & p {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 18px;
            & {
                border-top: 1px solid $divider-color;
            }
          
        }
        & ul {
            display: block;
        }
        & a {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            justify-content: space-between;
            max-width: 517px;
            width: 100%;
            margin-bottom: 10px;
        }
        
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    height: auto;
    max-width: 113px;
    width: 100%;
    & svg {
      width: 100%;
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    max-width: 409px;
    width: 100%;

    ul {
      position: relative;
      left: 16px;
      display: flex;
      list-style: none;
      align-items: center;
      gap: 32px;
    }
    li {
      position: relative;
    }
    li:first-child:hover .header__mega-menu {
      display: block;
    }
    a {
      display: flex;
      align-items: center; /* Vertically align icon and text */
      text-decoration: none;
      color: $black;
    }
    svg {
      margin-left: 8px;
    }
  }
  &__btn {
    max-width: 147px;
    width: 100%;
    background-color: $accent-color;
    color: $white;
    border-radius: 8px;
    padding: 12px 24px;
    text-transform: uppercase;
  }
  &__menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__nav,
  .header__btn {
    display: none;
  }
  .header__menu {
    display: block;
  }
}
