.hero {
  &__container {
    min-height: 767px;
    position: relative;
    background-color: $gray-light;
    border-radius: 12px;
    display: flex;
    align-items: center;
  }
  &__content {
    padding-bottom: 12px;
    padding-left: 40px;
  }
  &__text {
    max-width: 541px;
    width: 100%;
    margin-bottom: 20px;
    & p {
      color: $text-color;
    }
  }
  &__btn {
    margin-top: 30px;
  }

  &__image {
    max-width: 50%;
    & img {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

@media screen and (max-width: 1390px) {
  .hero__image img {
    height: 100%;
    width: 50%;
    object-fit: contain;
  }
}
@media screen and (max-width: 1130px) {
  .hero__text {
    & p {
      font-size: 18px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .hero__image img {
    height: 100%;
    width: 40%;
    object-fit: contain;
  }
}
@media screen and (max-width: 1024px) {
  .hero__container {
    min-height: 410px;
    height: 100%;
  }
  .hero__image img {
    height: 100%;
    width: 40%;
    object-fit: contain;
  }
  .hero__text {
    & p {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 950px) {
  .hero__image img {
    height: 100%;
    width: 35%;
    object-fit: contain;
  }
}
@media screen and (max-width: 870px) {
  .hero__text p {
    max-width: 400px;
  }
}
@media screen and (max-width: 730px) {
  .hero__container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .hero__image {
    & img {
      height: auto;
      width: 60%;
      object-fit: contain;
      left: 20%;
    }
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 250px;
    padding-left: 0px;
  }
  .hero__text {
    & p {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 375px) {
  .hero__content {
    margin-top: 220px;
  }
}
@media screen and (max-width: 325px) {
  .hero__content {
    margin-top: 175px;
  }
}
