.hero {
  &__container {
    background-color: $gray-light;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    &__text {
    max-width: 540px;
    width: 100%;
    margin-bottom: 20px;
      & h1 {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 48px;
        line-height: 52px;
      }
      & p {
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
      }
    }
     
  &__btn {
    position: relative;
    margin-bottom: 12px;
    display: flex;
    justify-content: left;
    & a {
      background-color: $accent-color;
      color: $white;
      border-radius: 8px;
      padding: 16px 48px;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
    }
  }
  &__image  {
    position: relative;
    left: 40px;
  }
}
