.info {
  &__container {
    z-index: 0;
    position: relative;
    background-color: $white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    & p {
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $text-color;
    }
  }

  &__image {
    position: relative;
    z-index: 1;
    & img {
      width: 100%;
    }
  }
  &__decor {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.info {
  .decor-under-image {
    top: 100%;
    left: 0;
  }

  .decor-on-image {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

@media (max-width: 1024px) {
  .info__decor {
    display: none;
  }
}

@media (max-width: 768px) {
  .info__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .info__container {
    display: flex;
    flex-direction: column-reverse;
  }
  .info__image {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .info__text {
    max-width: 100%;
  }
}
@media (max-width: 320px) {
  .info__text {
    margin-bottom: 16px;
  }
}

.info--small {
  .info__image {
    min-height: 568px;
  }
  .info__content {
    max-width: 461px;
    width: 100%;
  }
}

.info--medium {
  .info__text {
    max-width: 611px;
  }
}

// Modifications

.info--home {
  .info__text {
    margin: 32px 0px;
    & h3 {
      font-size: 32px;
      line-height: 38.6px;
      margin-bottom: 16px;
      margin-top: 0px;
    }
  }
  .info__decor {
    position: absolute;
    top: 0;
    right: -32px;
    z-index: 1;
  }
}

.info--career {
  .info__content {
  }
  .info__text {
    margin-bottom: 30px;
    & h3 {
      margin-top: 33px;
    }
  }
}

.info--management {
  margin-right: 56px;
}
.info__decor--management {
  .decor-on-image {
    position: relative;
    top: 130px;
    left: 30px;
    z-index: 1;
  }
  .decor-under-image {
    position: absolute;
    top: 54%;
    left: -80%;
  }
}

.info__decor--career {
  position: absolute;
  right: -22px;
}

.info--large {
  & h3 {
    font-size: 40px;
    line-height: 43px;
    margin-bottom: 24px;
  }
  .info__image {
    min-height: 590px;
  }
  .info__text {
    margin-bottom: 0px;
  }
  .info__content {
    margin-left: -16px;
    max-width: 611px;
    width: 100%;
  }
  .info__container {
    position: relative;
    z-index: 0;
  }
  .info__decor {
    &:first-child {
      position: relative;
      position: absolute;
      left: 0px;
    }
  }
}

@media (max-width: 1024px) {
  .info--large {
    .info__image {
      min-height: 100%;
    }
  }
  .info--small {
    .info__image {
      min-height: 100%;
    }
  }
}

@media (max-width: 768px) {
  .info__content {
    max-width: 100% !important;
  }
  .info--large .info__content {
    margin-left: 100px;
    max-width: 611px;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .info--large .info__content {
    margin-left: 55px;
  }
}
