.page-list {
  padding: 24px;
//   background-color: $gray-light;
  height: 100vh;
}

.page-list-nav {
    & li {
        list-style: none;
        color: $black;
    }
  & a {
    color: $black !important; 
    text-decoration: none; 
  }
}
