.two-image {
  &__container {
    display: flex;
    position: relative;
    overflow: hidden;
  }
  &__left {
    margin-right: 115px;
  }
  &__text-container p {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $text-color;
  }
  &__text-container--left {
    margin-bottom: 40px;
    & img {
      max-width: 611px;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__right img {
    margin-bottom: 12px;
    & img {
      max-width: 654px;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__decor {
    position: absolute;
    bottom: 24px;
    left: 0;
  }
  & h2 {
    margin-bottom: 24px;
  }
}

@media (max-width: 1024px) {
  .two-image__left {
    margin-right: 0px;
    display: flex;
    flex-direction: column-reverse;
    & img {
      margin-bottom: 40px;
    }
  }
  .two-image__container {
    flex-direction: column;
    gap: 40px;
    & img {
      width: 100%;
    }
  }
  .two-image__decor {
    display: none;
  }
}

.two-image--consulting {
  .decor-under-image {
    position: absolute;
    bottom: 611px;
    left: 519px;
  }

  .decor-on-image {
    position: absolute;
    left: -30px;
    bottom: -20px;
    z-index: 1;
  }
  .two-image__right {
    & img {
      position: relative;
      z-index: 1;
    }
  }
}
.two-image--construction-management {
  .two-image__left {
    margin-top: -24px;
  }
  .two-image__decor {
    margin-left: -67px;
  }
}

.two-image---general-contracting {
  .two-image {
    overflow: hidden;
  }
  .two-image__container {
    overflow: visible;
  }
  .two-image__decor {
    position: absolute;
    bottom: -172px;
    left: -30px;
  }
  .two-image__left {
    margin-top: -26px;
  }
}
