.wide-banner {
  &__container {
    position: relative;
  }

  &__text {
    display: flex;
    justify-content: space-between;
  }

  & h2 {
    margin-bottom: 40px;
  }
  & p {
    font-size: 16px;
    line-height: 24px;
    max-width: 611px;
    width: 100%;
    margin-top: 40px;
    color: $text-color;
  }
  &__image {
    & img {
      max-width: 1380px;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__decor {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }
}

@media (max-width: 1024px) {
  .wide-banner__decor {
    display: none;
  }
}

@media (max-width: 1024px) {
  .text-col {
    display: block;
  }
}



.wide-banner--energy {
  .wide-banner__text p {
    max-width: 660px;
  }
  .wide-banner__decor {
    position: absolute;
    left: 86.3%;
    top: -108px;
  }
}