<section
  class="cta section h-last-section"
  data-aos="fade-up"
  data-aos-duration="2000"
>
  <div class="cta__container container">
    <div class="cta__content">
      <div class="cta__text">
        <h1><%=title%></h1>
      </div>
      <div class="cta__btn">
        <a href="#" class="btn <%=btn.class%>" target="_blank"><%=btn.text%></a>
      </div>
    </div>
    <%if (typeof image !== 'undefined') {%>
    <div class="cta__image">
      <img src="<%=image%>" alt="" />
    </div>
    <%}%>            
    <% if (typeof decor !== 'undefined') { %>
      <div class="cta__decor">
        <img src="<%= decor %>" alt="" />
      </div>
    <% } %>
  </div>
</section>
