<section class="info section" data-aos="fade-up"  data-aos-duration="2000">
    <div class="info__container container">
        <div class="info__content">
            <div class="info__text">
                <h3><%=title%></h3>
                <%if (typeof text !== 'undefined') {%>
                  <p><%=text%></p>
                <%}%>
              </div>
              <div class="info__btn">
                <a href="#" class="btn <%=btn.class%>" target="_blank"><%=btn.text%></a>
              </div>
            </div>
            <% if (typeof image !== 'undefined') { %>
              <div class="info__image">
                <img src="<%= image %>" alt="" />
              </div>
            <% } %>
            <% if (typeof decor !== 'undefined') { %>
              <div class="info__decor">
                <img src="<%= decor %>" alt="" />
              </div>
            <% } %>
        </div>
    </div>
</section>
