<section class="strategy section <%= additionalClass %>" data-aos="fade-up" data-aos-duration="2000">
    <div class="strategy__container container">
        <h1><%= title %></h1>
        <div class="strategy__grid">
            <% strategy.forEach(function(item, index) { %>
                <div class="strategy__grid-item">
                    <h3><%= item.title %></h3>
                    <% if (Array.isArray(item.text)) { %>
                        <% item.text.forEach(function(paragraph) { %>
                            <p><%= paragraph %></p>
                        <% }); %>
                    <% } else if (item.text) { %>
                        <p><%= item.text %></p>
                    <% } %>
                </div>
            <% }); %>
        </div>
    </div>
</section>
