<section class="two-image section <%= additionalClass %>" data-aos="fade-up" data-aos-duration="2000">
    <div class="two-image__container container">
        <div class="two-image__left">
            <!-- Left-side Text Container -->
            <div class="two-image__text-container two-image__text-container--left">
                <h2><%= leftTitle %></h2>
                
                <% if (Array.isArray(item.textLeft)) { %>
                    <% item.textLeft.forEach(function(paragraph) { %>
                        <p><%= paragraph %></p>
                    <% }); %>
                <% } else if (item.textLeft) { %>
                    <p><%= item.textLeft %></p>
                <% } %>
                
            
                
                
            </div>
            <!-- First Image -->
            <img src="<%= item.image1 %>" alt="Image 1">
        </div>
        
        <div class="two-image__right">
            <!-- Second Image -->
            <img src="<%= item.image2 %>" alt="Image 2">
            <h2><%= item.rightTitle %></h2>  <!-- Access rightTitle via item object -->
            
            <!-- Right-side Text Container -->
            <div class="two-image__text-container two-image__text-container--right">
                <% if (Array.isArray(item.textRight)) { %>
                    <% item.textRight.forEach(function(paragraph) { %>
                        <p><%= paragraph %></p>
                    <% }); %>
                <% } else if (item.textRight) { %>
                    <p><%= item.textRight %></p>
                <% } %>
            </div>
        </div>
        
        <!-- Image Decor Section -->
        <% if (typeof decor !== 'undefined' && decor.length > 0) { %>
            <div class="two-image__decor">
                <% if (decor.length === 1) { %>
                    <img class="decor-on-image" src="<%= decor[0] %>" alt="" />
                <% } else { %>
                    <% _.each(decor, function(image, index) { %>
                        <img class="<%= index === 1 ? 'decor-on-image' : 'decor-under-image' %>" src="<%= image %>" alt="" />
                    <% }); %>
                <% } %>
            </div>
        <% } %>
    </div>
</section>