<% var vacancyHeader = {
  title: "Ready to make your impact?",
  subtitle: "Seize your opportunity now"
} %>

<%var vacancies = [
  {
    title: "Account Manager in Healthcare, Life Sciences & Wellbeing Practice",
    subtitle: "MiCiMi is looking for an Account Executive join its the team. Our Healthcare practice has over 20 years’ experience advising clients on the political and public affairs aspects of EU (and also EEA/UK). We have extensive experience in facilitating multi-stakeholder...",
    location: "New York, USA | $150.000"
  }
]%>
<% var vacancyContactInfo = {
  message: "Should you need to discuss any reasonable adjustments or require guidance about our recruitment process, please contact",
  email: "careers@micim.co.uk"
} %>


<section class="vacancies section" data-aos="fade-up" data-aos-duration="2000">
  <div class="vacancies__container container">
    <div class="vacancies__titles">
      <h2>
        <%= vacancyHeader.title %>
      </h2>
      <h3><%= vacancyHeader.subtitle %></h3>
    </div>
    <div class="vacancies__list">
      <div class="vacancy-item">
        <%vacancies.forEach((vacancy) => {%>
        <div class="vacancy__left">
          <h3>
            <%=vacancy.title%>
          </h3>
          <p>
            <%=vacancy.subtitle%>
          </p>
        </div>
        <div class="vacancy__right">
          <span>
            <%=vacancy.location%>
          </span>
          <div class="vacancy__bottom-btn">
            <a class="btn btn-primary" href="#">Learn more</a>
          </div>
        </div>
        <%})%>
      </div>

      <div class="vacancy-item vacancy-item--contact">
        <p>
            <%= vacancyContactInfo.message %>
            <a href="mailto:<%= vacancyContactInfo.email %>"><b><%= vacancyContactInfo.email %></b></a>
            to speak to a member of our team.
        </p>
    </div>
    </div>
  </div>
</section>