 <% var data = { title: "Career" }; %>
 <%=_.template(require('./../includes/header.html').default)(data) %>

<main>
  <%= _.template(require('./../includes/banner.html').default)({
    title: "Careers Beyond Borders",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, exercitation ullamco laboris.",
    partners: true,
    image: "img/hero-banner__image.png",
  }) %>
  <%= _.template(require('./../includes/quote.html').default)({
      text: "Whether you're a seasoned professional or just starting your career, we offer a diverse range of opportunities across the mission critical sector. Explore our current openings and discover how you can be a part of an extraordinary team.",
    }) %>
    <%= _.template(require('./../includes/info.html').default)({
      title: "Our Culture",
      text: "We know that the key to our success lies in our people, and we are always looking for exceptional individuals to join us. We work hard to provide a supportive environment where you will be empowered and encouraged to reach your goals and feel valued for the contribution you are making.",
      partners: true,
      image: "img/hero-info__image.png",
      <!-- decor: "/img/hero-info__decor.png" -->
    }) %>
    <%=_.template(require('./../includes/vacancies.html').default)(data) %>
</main>

  <%=_.template(require('./../includes/footer.html').default)(data) %> 
<%=_.template(require('./../includes/sidebar.html').default)(data) %>  