<% var data = { title: "Career" }; %>
<%=_.template(require('./../includes/header.html').default)(data) %>
<main>
  <%= _.template(require('./../includes/banner.html').default)({
    title: "Careers Beyond Borders",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, exercitation ullamco laboris.",
    partners: true,
    image: "img/hero-banner__image.png",
    btn: {
      text: "Learn More",
      class: "btn-primary",
    },
    additionalClass: "banner--small" 
  }) %>
  
  <%= _.template(require('./../includes/quote.html').default)({
      text: "Whether you're a seasoned professional or just starting your career, we offer a diverse range of opportunities across the mission critical sector. Explore our current openings and discover how you can be a part of an extraordinary team.",
      btn: {
        text: "",
        class: ""
      },
    }) %>
    <%= _.template(require('./../includes/cover.html').default)({
      title: "Reasons to work with us",
      text: "We are a growing, privately owned business delivering exciting mission critical, engineering based projects to the highest standards and you will have the opportunity to work on challenging projects large & small in the UK & Internationally. Knowledge-sharing is at the heart of our business and with direct access to our leadership team who will encourage and support you to reach your goals",
      image: "img/cover.png",
      decor: "img/cover__decor.png",
      sectors: [
      ],
      additionalClass: "cover--career" 
    }) %>
    <%= _.template(require('./../includes/advantages.html').default)({}) %>
    <%= _.template(require('./../includes/info.html').default)({
      title: "Our Culture",
      text: "We know that the key to our success lies in our people, and we are always looking for exceptional individuals to join us. We work hard to provide a supportive environment where you will be empowered and encouraged to reach your goals and feel valued for the contribution you are making.",
      btn: {
        text: "Learn More",
        class: "btn-primary",
      },
      image: "img/hero-info__image.png",
      decor: "img/hero-info__decor.png"
    }) %>
    <%= _.template(require('./../includes/vacancies.html').default)({}) %>
    <%= _.template(require('./../includes/programs.html').default)({}) %>


</main>
<%=_.template(require('./../includes/footer.html').default)(data) %> 
<%=_.template(require('./../includes/sidebar.html').default)(data) %>  