<% var data = { title: "Consulting" }; %>
<%=_.template(require('./../includes/header.html').default)(data) %>
<main class="page__main">
    <%= _.template(require('./../includes/banner.html').default)({
        title: "Strategic Consulting Services",
        text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, exercitation ullamco laboris.",
        image: "img/consalting-banner__image.png",
        btn: {
          text: "",
          class: "",
        },
        additionalClass: "banner--small" 
      }) %>
      <%= _.template(require('./../includes/quote.html').default)({
          text: "Whether you're a seasoned professional or just starting your career, we offer a diverse range of opportunities across the mission critical sector. Explore our current openings and discover how you can be a part of an extraordinary team.",
          btn: {
            text: "",
            class: "",
          },
        }) %>

        <%= _.template(require('./../includes/strategy.html').default)({
            additionalClass: "",
            headingClass: "",
            title: "",
            subtitle: "",
           
            strategy: [
              {
                title:"Strategic Consulting Advisory Services",
              },
              { 
                text: [
                  "At MiCiM, our strong focus on engineering, problem-solving, and extensive experience enables us to deliver bespoke solutions that seamlessly transition from strategy to operation, ensuring the realisation of planned benefits. Our Strategic Consulting Advisory Service team collaborates with senior management to develop and implement strategic plans aligned with business objectives, providing actionable insights and recommendations to drive informed decisions and gain a competitive edge.",
                  "We assess the current state of the organisation, identify opportunities and challenges, and create tailored strategies to enhance growth, performance, and profitability. Our services include strategic planning, market analysis, business strategy development, performance improvement, organisational design, change management, and risk management. These services are essential for helping organisations adapt to market dynamics, overcome challenges, and achieve sustainable success."
                ]
              }
            ]
        }) %>

        <%= _.template(require('./../includes/info.html').default)({
          additionalClass: "info--medium",
          title: "Project Governance / PMO",
          text: [
            "Project governance is a framework that guides how an organisation makes key project decisions, ensuring direction, informed decision-making, and oversight. MiCiM applies the three pillars of good governance—information, people, and structure—to its project governance framework, ensuring high-quality project management. This framework encompasses change management, risk management, reporting, meetings, stakeholder engagement, and communication, with key principles including:",
            "The framework defines the responsibilities of both the project team and MiCiM's senior management, who are not involved in daily delivery but ensure alignment with the client’s governance framework, involving their senior management and key stakeholders.",
            "This approach is supported by MiCiM's internal PMO, which manages internal systems, maintains the framework, and utilises Procore, our EDMS. Our senior management also advises clients on good governance practices, assists in setting up internal systems, and participates in or establishes project boards, including for multi-owned projects."
          ],
          btn: {
            text: "",
            class: "",
          },
          image: "img/consulting-info__image.png",
          decor: [
            ""
          ],
        }) %>

        <%= _.template(require('./../includes/strategy.html').default)({
          additionalClass: "strategy--heading-paragraph, strategy--small-items",
          headingClass: "text--column",
          title: "Planning and Scheduling",
          subtitle:[
          "MiCiM’s utilisation of various market-leading planning software solutions has allowed us to adapt to our clients’ particular needs and develop a bespoke dashboard reporting system. This allows real-time automated dashboard reporting, demonstrating our commitment to providing clients with immediate access to key project insights, enabling data-driven decision-making and enhancing overall project management efficiency.",
          "<span>A full range of our planning services include:</span>"
        ],
          
          strategy: [
              {
                title: "Real-Time Automated Dashboard Reporting",
                text: [
                  "Leveraging planning solutions to provide dynamic and interactive dashboard reporting, delivering you up-to-date insights and performance visibility instantly."
                ],

              },
              { 
                 title: "Project Planning  Optimisation",
                 text: "Utilising all market leading planning software to streamline project planning, reducing planning time by 20% per project.. Click here to see an example."
              },
              { 
                title: "Efficient Reporting Solutions",
                text: "Our automated reporting processes result in significant time savings and accurate project updates."
              },
              { 
                title: "Enhanced Programme Consistency",
                text: "A 10% improvement in programme consistency and integrity scores per project is the minimum we aim to achieve, ensuring standardised and reliable outcomes."
              },
              { 
                title: "Programme Visualisation and Coordination",
                text: "Harnessing the planning software to create visually compelling representations of programmes, facilitating seamless coordination and communication among stakeholders."
              },
              { 
                title: "Collaborative Project  Management",
                text: "Emphasising collaboration with clients, professional teams, and trade contractors, promoting effective communication and real-time collaboration through interactive dashboards."
              },
              {
                title: "Bespoke Programme Management",
                text: "We offer tailored end-to-end programme management services to meet the unique needs of each client, providing personalised solutions for optimal outcomes."
              },
              {
                title: "4D Planning",
                text: "We have embraced 4D planning offering real-time programme updates and visual representations through automated dashboards and BIM models."
              }
          ]
      }) %>

      <%= _.template(require('./../includes/two-image.html').default)({
        additionalClass: "", 
        leftTitle: "EDMS Advisory Services", 
        item: {
          textLeft: [
            "MiCiM extends Electronic Document Management System (EDMS) Advisory Services, catering to organisations seeking streamlined document handling and information management solutions. With a deep understanding of industry best practices and technological advancements, MiCiM guides clients in selecting, implementing, and optimising EDMS tailored to their specific needs and workflows. From document digitisation to version control and access permissions, MiCiM's advisory services cover every aspect of EDMS deployment and utilisation. By leveraging EDMS, organisations can enhance collaboration, ensure compliance with regulatory requirements, and boost overall productivity. MiCiM's expert guidance empowers businesses to harness the full potential of EDMS, transforming their document management processes into efficient, secure, and scalable systems that drive success in the digital age.",          
          ],
          rightTitle: "Due Diligence Management",
          textRight: [
            "Overall, effective due diligence management enables our clients to make informed decisions, minimise risks, maximise value, and ensure the success of the transaction. It requires thorough planning, rigorous analysis and collaboration among various stakeholders, including financial experts, legal advisors, industry specialists and operational managers.",
            "At MiCiM we understand the needs of our clients who often need to assess the risks, opportunities and potential impacts of a transaction quickly.  In order for our clients to make those important decisions promptly they must have the right level of information to allow the decision-makers to evaluate the viability, value, and potential implications of the transaction, as well as identify any risks or issues that may affect the outcome. Our EMEA-wide specialists understand what the big-ticket items are in our sectors and how prioritising answers will save our clients time and money. Our dedicated team can support clients with both pre-purchase land acquisitions and asset disposals."
          ],    
          image1: "img/two-image__img-1.png",
          image2: "img/two-image__img-2.png"
        },
        decor: "img/two-image__decor.png"
      }) %>

      <%= _.template(require('./../includes/wide-banner.html').default)({
        title: "Project Monitoring and Assurance",
        text: [
          "MiCiM can offer this service directly to investors, clients and fund-holders to meet their needs for independent monitoring of a project, providing them the comfort and control that they would not otherwise have, being at arm’s length.",
          "A key focus of project assurance or monitoring is that project status remains in line with the key metrics identified during project appraisal (or the business plan), such as capital cost, execution timeline, risk, change, operating cost-plan and revenue expectations."
        ],
        image: "img/consulting-wide-banner__image.png",
        decor: "img/consulting-wide-banner__decor.png",
        additionalClass: "",
        textClass: "text-col"
      }) %>
      
        <%= _.template(require('./../includes/strategy.html').default)({
          additionalClass: "strategy--large-heading",
          headingClass: "",
          title: "",
          subtitle: "",
         
          strategy: [
            {
              title:"Document Control",
              text: [
                "MiCiM specialises in offering Document Control as a service, specifically tailored to manage documents throughout the entire lifecycle of a project. From initial planning and development to execution, monitoring, and project close-out, MiCiM ensures that all project-related documents are effectively organised, tracked, and controlled. By implementing robust document management systems and workflows, MiCiM enables seamless collaboration among project stakeholders, facilitates efficient document creation, review, and approval processes, and ensures compliance with project requirements and industry standards. With MiCiM's expertise in managing documents through every stage of the project lifecycle, organisations can enhance transparency, mitigate risks, and optimise project outcomes.",
                " MiCiM partner with Procore Technologies Document Management Systems to offer this service, however we can also adopt client-preferred EDMS systems as required and our Document Controllers have extensive experience with various other platforms."
              ]
            },
            { 
              title: "KPI Tracking",
              text: [
                "MiCiM offers Key Performance Indicator (KPI) tracking, providing businesses with a comprehensive solution to monitor and optimise their performance metrics. Leveraging advanced analytics and data visualisation tools, MiCiM enables clients to set, track, and analyse KPIs relevant to their specific objectives and industry standards. Whether it's enhancing operational efficiency, improving customer satisfaction, or driving revenue growth, MiCiM's KPI tracking service empowers organisations to make data-driven decisions and achieve their strategic goals. With customisable dashboards, real-time monitoring capabilities, and insightful reports, MiCiM ensures that businesses have the actionable insights they need to stay agile and competitive in today's dynamic market landscape."
              ]
            }
          ]
      }) %>

        <%= _.template(require('./../includes/news.html').default)({
            title: "News & <span>Insights</span>",
                text: "We bring the knowledge, skills and insights to engage and mobilise the stakeholders that matter, creating coalitions for impact.",
                image: "img/info__image.png",
                btn: {
                text: "Read More",
                class: "btn-secondary",
            },
        }) %>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>
<%=_.template(require('./../includes/sidebar.html').default)(data) %>   
