<% var data = { title: "Menegement" }; %>
<%=_.template(require('./../includes/header.html').default)(data) %>
<main class="page__main">
    <%= _.template(require('./../includes/banner.html').default)({
        title: "Contract & Cost Advisory Services",
        text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, exercitation ullamco laboris.",
        image: "img/contract-banner__image.png",
        btn: {
          text: "",
          class: "",
        },
        additionalClass: "banner--small" 
      }) %>
      <%= _.template(require('./../includes/quote.html').default)({
          text: "Whether you're a seasoned professional or just starting your career, we offer a diverse range of opportunities across the mission critical sector. Explore our current openings and discover how you can be a part of an extraordinary team.",
          btn: {
            text: "",
            class: "",
          },
        }) %>

        <%= _.template(require('./../includes/two-image.html').default)({
            additionalClass: "", 
            leftTitle: "Cost Management", 
            item: {
              textLeft: [
                "Our cost management team provides cost, commercial and contractual advice and professional quantity surveying services to clients, designers and other consultants.",
                "MiCiM’s cost management service has been established to be able to specifically tailor and deliver a personalised, dedicated and valuable service to each of our particular clients that suits their needs, business requirements and successfully recognises our clients’ unique project objectives and delivers the project goals.",
              ],
              rightTitle: "",
              textRight: [
                "Our cost management team is focused on delivering an effective cost and commercial management service addressing complete project budgets and the successful delivery of projects. We recognise the initial design development and response to the client’s brief and requirements will determine the magnitude of the anticipated budget and project outcome. We therefore strive to be integrated into the design process from the outset to advise the cost impact of design proposals and help shape the design to the approved budget and achieve the client’s aspirations.",
              ],    
              image1: "img/two-image__img-1.png",
              image2: "img/two-image__img-2.png",
            },
            decor: "img/two-image__decor.png"
          }) %>
          
          

        <%= _.template(require('./../includes/strategy.html').default)({
            additionalClass: "",
            headingClass: "",
            title: "",
            subtitle: "",
            strategy: [
                {
                  title:"Procurement Advice & Management",
                },
                { 
                  title: "1/",  
                    text: [
                        "Once a robust budget and design solution is developed, the next crucial step in delivering a project is selecting the most suitable contractor through the appropriate procurement route. Our motto, “Buy it once and buy it right,” reflects our commitment to strategic procurement. MiCiM provides expert procurement advice and manages the process, developing a tailored procurement strategy that aligns with the project's unique drivers and objectives.",
                        "We collaborate with the client in a procurement workshop to establish priorities, assess contractual arrangements, and ensure all options are considered. MiCiM leads the preparation and management of tender documents, overseeing the tender process, including analysis, negotiation, and contractor appointment. By clearly defining project constraints and requirements at the tender stage, we ensure contractors submit transparent, accurate proposals, giving clients confidence in the tender pricing"
                    ]
                }
            ]
        }) %>
        <%= _.template(require('./../includes/wide-banner.html').default)({
          title: "Contract Administration",
          text: "MiCiM are experienced in undertaking contract administration services across the whole lifecycle of a project. Whilst the role of Contract Administration is primarily carried out during the contract works stage, there is an inherent continuation of contract administration services which will already have been implemented and carried out during the pre-contract, procurement and contract agreement stages of the project. However the skills utilised during these early stages are continued by a CA through the contract administration works stage such as Change Control, Document Control, Programme Planning and management, Risk Analysis and Early Warning management.",
          image: "img/contract-wide-banner__image.png",
          decor: "img/contract-wide-banner__decor.png",
          additionalClass: "",
          textClass: ""
        }) %>

        <%= _.template(require('./../includes/news.html').default)({
            title: "News & <span>Insights</span>",
                text: "We bring the knowledge, skills and insights to engage and mobilise the stakeholders that matter, creating coalitions for impact.",
                image: "img/info__image.png",
                btn: {
                text: "Read More",
                class: "btn-secondary",
            },
        }) %>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>
<%=_.template(require('./../includes/sidebar.html').default)(data) %>   
