<% var data = { title: "Project Management Contracting" }; %>
<%=_.template(require('./../includes/header.html').default)(data) %>
<main class="page__main">
    <%= _.template(require('./../includes/banner.html').default)({
        title: "Energy & Sustainability",
        text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, exercitation ullamco laboris.",
        partners: true,
        image: "img/energy-banner__image.png",
        btn: {
          text: "",
          class: "",
        },
        additionalClass: "banner--small" 
      }) %>
      <%= _.template(require('./../includes/quote.html').default)({
        additionalClass: "",
        text: "Whether you're a seasoned professional or just starting your career, we offer a diverse range of opportunities across the mission critical sector. Explore our current openings and discover how you can be a part of an extraordinary team.",
        btn: {
          text: "",
          class: ""
        },
      }) %>

      <%= _.template(require('./../includes/wide-banner.html').default)({
        title: "Energy Assessments (Including ESOS)",
        text: [
          "Our Energy Assessments, including ESOS (Energy Savings Opportunity Scheme), provide a comprehensive consultancy approach focused on reducing energy consumption and risk without the added learning component. A typical energy assessment involves a thorough site visit, review of facility drawings and documentation, and an in-depth analysis of mechanical and electrical systems. We examine energy consumption across mechanical, electrical, and IT equipment, along with temperature measurements and current data hall air performance management, including air bypass, recirculation, and segregation.",
          "The assessment benchmarks best practices, reviews operational settings, and explores opportunities for system upgrades to improve efficiency and reduce costs. We also provide access to air management tools for ongoing assessments. Additionally, we evaluate the company's eligibility under ESOS, considering compliance with ISO 50001 certification, total energy consumption (including fuels, heat, renewables, electricity, and transport fuel), and identifying a lead assessor. Upon completion, we ensure compliance is notified to the Environment Agency and highlight areas for significant energy reduction."
        ],
        image: "img/energy-wide-banner__image.png",
        decor: "img/energy-wide-banner__decor.png",
        additionalClass: "wide-banner--energy",
        textClass: "text-col"
      }) %>

      <%= _.template(require('./../includes/two-image.html').default)({
        additionalClass: "two-image--enegry", 
        leftTitle: "Embodied Carbon Assessments", 
        item: {
          textLeft: [
              "In an embodied carbon assessment, we conduct a screening-level study of the embodied carbon associated with different design options. We complete embodied carbon calculations for the materials and equipment within the building and services based on asset lists from the BIM model or bill of quantity data, and design data for energy consumption. Using carbon as a basis for comparison, these models can then be used to review each option and form a basis for impact reduction recommendations.",
              "Screening studies are designed to give an approximation of the impact to the correct order of magnitude. For emissions from fuel combustion (such as generator diesel), refrigerant leaks, and electricity consumption we apply BEIS conversion factors to the design energy consumption."
         ],
          rightTitle: "",
          textRight: [
            "For the carbon emissions from equipment, we in the first instance use any freely available product environmental footprint data (created for example from the CIBSE TM65 calculator). Where this is not possible, we will use a spend-based method in which the economic value of the purchased good is multiplied by EEIO (environmentally-extended input output) emission factors. These come from models which estimate GHG emissions created by supply chain activities of different economic sectors.",    
            "We can also run these assessments to compare an existing facility with a new design proposal. "   
          ],      
          image1: "img/energy-two-image__image-1.png",
          image2: "img/energy-two-image__image-2.png",
        },
        decor:[
          "img/energy-two-image__decor.png"
        ] 
      }) %>


      <%= _.template(require('./../includes/strategy.html').default)({
        additionalClass: "strategy--large-items, strategy--without-heading",
        headingClass: "",
        title: "",
        subtitle:[
            ""
      ],
        
        strategy: [
            {
              title: "Sustainability, Innovation, Research and Development",  
            },
            { 
               title: "1/",
               text: [
               "An innovative, learning spirit is deeply ingrained in our culture and core values as illustrated by the publications, awards and qualifications held by our team. We work side-by-side with our clients in challenging the status quo and exploring next generation of concepts, ideas, and technologies.",
               "We actively seek to work on industry standards, best practice, and research projects seeking to improve the sustainability of data centres and digital services."
               ]
            },
            { 
              title: "2/",
              text: "Most recently we were involved in researching the environmental impact of data centres as part of an international cross-industry team awarded EU Interreg funding to address the growth in e-waste arising from data centres. The project aim was to find solutions to reduce the use of virgin materials, waste and environmental impact arising from the growth in redundant IT equipment and develop a secure and economically viable CRM (critical raw materials) supply chain for the data centre industry."
            },
            { 
              title: "3/",
              text: [
                "The project, called CEDaCI (Circular Economy for the Data Centre Industry), created tools (decision-making software, server reuse business strategies, improved materials recycling/reclamation technologies) to reduce waste, conserve resources and build a secure supply chain for EU CRM used in servers. The project philosophy is applicable to all buildings and sub-components, not just servers, and involved remote working with teams in Germany, France, and the Netherlands. Our role was the detailed LCA (life cycle assessment) modelling of material and energy inputs required to manufacture and use servers, and the resulting environmental impacts, and the linking of an end-of-life model built by project partners in France.",
                "For more information, please visit the CEDaCI website."
              ]       
            },
        ]
    }) %>

    

        <%= _.template(require('./../includes/news.html').default)({
            title: "News & <span>Insights</span>",
            text: "We bring the knowledge, skills and insights to engage and mobilise the stakeholders that matter, creating coalitions for impact.",
            image: "img/info__image.png",
            btn: {
              text: "Read More",
              class: "btn-secondary",
            },
        }) %>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>
<%=_.template(require('./../includes/sidebar.html').default)(data) %>   
