<% var data = { title: "Home" }; %>
<%=_.template(require('./../includes/header.html').default)(data) %>

 <main class="page__main">
  <%=_.template(require('./../includes/banner.html').default)(data) %>
  <%=_.template(require('./../includes/quote.html').default)(data) %>
  <%=_.template(require('./../includes/solutions.html').default)(data) %>
  <%=_.template(require('./../includes/info.html').default)(data) %>
  <%=_.template(require('./../includes/partners.html').default)(data) %>
  <%=_.template(require('./../includes/news.html').default)(data) %>
  <%=_.template(require('./../includes/cta.html').default)(data) %>
</main> 

 <%= _.template(require('./../includes/footer.html').default)(data) %>
 <%=_.template(require('./../includes/sidebar.html').default)(data) %> 
