<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.bundle.css" />
    <title>MiCiMi | Index</title>
  </head>
  <body>
    <main class="page-list">
      <h1>Page list</h1>
      <div class="container">
        <ol id="page-list-nav">
          <li><a href="home.html">Home</a></li>
          <li><a href="career.html">Career</a></li>
        </ol>
      </div>
    </main>
  </body>
</html>








