<% var data = { title: "Menegement" }; %>
<%=_.template(require('./../includes/header.html').default)(data) %>
<main class="page__main">
    <%= _.template(require('./../includes/banner.html').default)({
      title: "Project Management",
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, exercitation ullamco laboris.",
      image: "img/project-management-banner__image.png",
      btn: {
        text: "",
        class: "",
      },
      additionalClass: "banner--small" 
    }) %>
    <%= _.template(require('./../includes/quote.html').default)({
        text: "Whether you're a seasoned professional or just starting your career, we offer a diverse range of opportunities across the mission critical sector. Explore our current openings and discover how you can be a part of an extraordinary team.",
        btn: {
          text: "",
          class: "",
        },
      }) %>
      <%= _.template(require('./../includes/strategy.html').default)({
        additionalClass: "",
        title: "",
        
        strategy: [
            { title: "Project Management" },
            { 
              title: "1/ Your Project Success is Our Priority",
              text: "Effective Project Management is key to the success of any project, and delivering successful projects for our clients is our priority. In this rapidly expanding, demanding and results-orientated industry we are committed to assisting our clients in achieving their project goals and best possible outcomes from inception to completion. This is achieved by working with our clients to set out the project objectives from inception, ensuring they are clear, concise and achievable. We set the highest possible standards relating to project delivery, health and safety, quality and sustainability."
            },
            { 
              title: "2/ Expert Teams, Proven Delivery",
              text: "Our Project Management teams bring a wealth of detailed technical knowledge, Project Management expertise and Data Centre experience to ensure our projects are delivered successfully. We provide a pragmatic hands-on approach from project inception, through planning, procurement, pre-construction activities, design and construction to completion, working closely and collaboratively with our clients and project teams."
            },
            { 
              title: "3/ Adapting to Change, Together",
              text: "With our advanced management tools and processes, and in-depth knowledge of industry standards, we work alongside our clients ensuring they are provided with timely, accurate updates and strategic advice, enabling risks and issues to be understood and assessed leading to prompt, informed decision making. Our agility enables us to adapt to change and our clients’ needs in this ever-changing environment, ensuring that project governance is followed and that key stakeholders are updated through the project life-cycle."
            }
        ]
    }) %>

    <%= _.template(require('./../includes/info.html').default)({
      additionalClass: "info--large",
      title: "Risk Management",
      text: [
        "Our senior management have substantial experience of advising our clients on good risk management practice and can provide professional advice on approaches on setting strategy, the application of risk management and governance, strengthening resilience and in setting up holistic processes.",
        "Risk management is a key activity in our governance framework and is a core component of our Project Management Toolkit, which has been developed by our senior project executives, and is supplemented by dedicated risk management training.",
        "Projects necessarily incorporate an element of risk as a consequence of achieving the opportunities created by delivering the project. Ultimately a successful project is one in which inherent risks have been assessed and successfully managed, and a failed or challenged project is one in which risks have not been properly assessed and therefore not managed."
      ],
      btn: {
        text: "",
        class: "",
      },
      image: "img/project-management-info__image.png",
      decor: [
        "img/project-management-info__decor-1.png",
        "img/project-management-info__decor-2.png"
      ],
    }) %>

    <%= _.template(require('./../includes/news.html').default)({
        title: "News & <span>Insights</span>",
        text: "We bring the knowledge, skills and insights to engage and mobilise the stakeholders that matter, creating coalitions for impact.",
        image: "img/info__image.png",
        btn: {
          text: "Read More",
          class: "btn-secondary",
        },
    }) %>
    <%= _.template(require('./../includes/strategy.html').default)({
      additionalClass: "strategy--small",
      title: "Quality Management",
      
      strategy: [
          {
            title:"",
            text: [
              "MiCiM has a proven track record within construction and engineering, working to exacting standards. Our engineers have extensive design experience from feasibility through to construction and are proficient in managing quality.",
              "We ensure the right level of experience is placed on every project at an early stage to avoid the pitfalls that can lead to avoidable programme pressure.",
              "Through our extensive delivery knowledge, we have utilised several industry recognised design gateway processes (ASHRAE, ATP, RIBA) and are proficient in managing these processes to ensure a high-quality output.",
              "Quality control is the basis for:",
          ],
          paragraph: [
              "Appearance.",
              "Fitness for purpose.",
              "Successful commissioning.",
              "Long and reliable service life",
            ]
          },
          { 
            title: "",  
              text: [
                "MiCiM nurtures a quality culture on site, demonstrated by our ISO 9001 accreditation. By providing a “best in class” professionally run site, welfare solution, coordinated works plan and inclusive culture, we inspire in our site personnel a pride in their work and a desire to provide a quality product. Our quality management process is driven through into the supply chain so that the contractors mirror the high standards we have set in place.",
                "Factory Acceptance Tests (FATs), Site Acceptance Tests (SATs), Pre-commissioning, Commissioning, and Integrated System Testing (IST) will be planned and managed using ASHRAE levels 1-5."
              ]
          }
      ]
  }) %>
  
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>
<%=_.template(require('./../includes/sidebar.html').default)(data) %>   
