<% var data = { title: "Project Template" }; %>
<%=_.template(require('./../includes/header.html').default)(data) %>
<div class="page__main">
    <%= _.template(require('./../includes/banner.html').default)({
        title: "OICP",
        text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, exercitation ullamco laboris.",
        partners: true,
        image: "img/projects-template-banner__image.png",
        video: "video/video-1",
        btn: {
          text: "",
          class: "",
        },
        additionalClass: "banner--small banner__heading-light" 
      }) %>

    <%= _.template(require('./../includes/quote.html').default)({
        additionalClass: "quote--double",
        text: [
            "The new facility located in Bristol UK will include ISO level 5 class application laboratories spanning 1,000m2; 2300m2 build and test production space and a 700m2 innovation centre for research and development.",
            "MiCiM’s role as Construction Manager on this project involves principal contracting, procurement, programme, commercial, quality and safety management working closely with Capital and Provincial as the client representatives."
        ],
         btn: {
          text: "",
          class: ""
        },
      }) %>

    <%= _.template(require('./../includes/strategy.html').default)({
        additionalClass: "strategy--large-items, strategy--with-heading",
        headingClass: "text--column",
        title: "Services",
        subtitle:[
            ""
      ],
        
        strategy: [
            {
                title: [
                    "1/", 
                    "Construction Management"    
                ]
            },
            { 
               title: [
                    "2/",
                    "Principal Contracting"
                ]
            },
            { 
                title: [
                    "3/",
                    "Procurement"
                ]
            },
            { 
                title: [
                    "4/",
                    "Programme & Commercial Management"
                ]
            },
            { 
                title:[
                    "5/",
                    "Document Control"
                ] 
            },
            { 
                title: [
                    "6/",
                    "Quality and Safety Management"
                ]
            }
        ]
    }) %>

    <%= _.template(require('./../includes/template.html').default)({
        additionalClass: "template__heading--single",
        lagreHeading: "People involved on this project",
        subtitle: "",
        title: "",
        items: [
          {
            title: "Lisa Taylor",
            subtitle: "Commercial Manager",
            image: "img/template--people-img-1.png"
          },
          {
            title: "Martin Butcher",
            subtitle: "Project Manager",
            image: "img/template--people-img-2.png"
          },
          {
            title: "Chris Jarman",
            subtitle: "Construction Director",
            image: "img/template--people-img-3.png"
          },

          {
            title: "Martin Brooke",
            subtitle: "Senior Planner",
            image: "img/template--people-img-4.png"
          },
          {
            title: "Scott Stroud",
            subtitle: "Assistant Project Manager",
            image: "img/template--people-img-5.png"
          },
          {
            title: "Andrew Hopgood",
            subtitle: "Commercial Executive",
            image: "img/template--people-img-6.png"
          },
          {
            title: "Adam Matthews",
            subtitle: "Construction Manager",
            image: "img/template--people-img-7.png"
          },
          {
            title: "Richard Herrington",
            subtitle: "Director",
            image: "img/template--people-img-8.png"
          },
          {
            title: "Alison Barlow",
            subtitle: "Document Controller",
            image: "img/template--people-img-9.png"
          }
        ]
      }) %>
      

      
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
<%=_.template(require('./../includes/sidebar.html').default)(data) %>   