<% var data = { title: "Projects" }; %>
<%=_.template(require('./../includes/header.html').default)(data) %>
<div class="page__main">
    <%= _.template(require('./../includes/banner.html').default)({
        title: "Training & Research",
        text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, exercitation ullamco laboris.",
        partners: true,
        image: "img/projects-banner__image.png",
       
        btn: {
          text: "",
          class: "",
        },
        additionalClass: "banner--small banner__heading-light" 
      }) %>

      <%= _.template(require('./../includes/quote.html').default)({
        additionalClass: "",
        text: "Whether you're a seasoned professional or just starting your career, we offer a diverse range of opportunities across the mission critical sector. Explore our current openings and discover how you can be a part of an extraordinary team.",
        btn: {
          text: "",
          class: ""
        },
      }) %>

    <%= _.template(require('./../includes/template.html').default)({
        additionalClass: "template--without-heading",
        lagreHeading: "Construction Management",
        subtitle: "",
        title: "",
        items: [
          {
            title: "Campus Dub 4",
            subtitle: "Dublin, Ireland",
            image: "img/construction-management-template__image-1.png"
          },
          {
            title: "Oxford Instruments",
            subtitle: "Bristol",
            image: "img/construction-management-template__image-2.png"
          },
          {
            title: "LHR1-B Phase 2",
            subtitle: "Berkshire",
            image: "img/construction-management-template__image-3.png"
          },

          {
            title: "RTL Ultra-Capacitor Modulator",
            subtitle: "Wilton International, Middlesbrough",
            image: "img/construction-management-template__image-4.png"
          },
          {
            title: "LHR1-B",
            subtitle: "Slough, Berkshire",
            image: "img/construction-management-template__image-5.png"
          },
          {
            title: "K2 Data Centre",
            subtitle: "Dublin, Ireland",
            image: "img/construction-management-template__image-6.png"
          },
          {
            title: "One Angel Court",
            subtitle: "London",
            image: "img/construction-management-template__image-7.png"
          },
          {
            title: "LON1-DH5",
            subtitle: "Slough, Berkshire",
            image: "img/construction-management-template__image-8.png"
          }
        ]
      }) %>
      <%= _.template(require('./../includes/template.html').default)({
        additionalClass: "template--without-heading",
        lagreHeading: "Project Management",
        subtitle: "",
        title: "",
        items: [
          {
            title: "<span>BAI</span> Communications",
            subtitle: "London",
            image: "img/project-management-template__image-1.png"
          },
          {
            title: "<span>Compass</span> Datacentres",
            subtitle: "EMEA, Israel",
            image: "img/project-management-template__image-2.png"
          },
          {
            title: "<span>Digital</span> Dagenham",
            subtitle: "Dagenham, Essex",
            image: "img/project-management-template__image-3.png"
          },
          {
            title: "<span>Campus</span>, DC-2",
            subtitle: "Hemel Hempstead, Hertfordshire",
            image: "img/project-management-template__image-4.png"
          }
        ]
      }) %>

      
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
<%=_.template(require('./../includes/sidebar.html').default)(data) %>   