<% var data = { title: "Home" }; %>
<%=_.template(require('./../includes/header.html').default)(data) %>
<main class="page__main">
    <%= _.template(require('./../includes/banner.html').default)({
      title: "Services for impact",
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, exercitation ullamco laboris.",
      image: "img/services-banner__image.png",
      btn: {
        text: "",
        class: "",
      },
      additionalClass: "banner--small" 
    }) %>
    <%= _.template(require('./../includes/quote.html').default)({
        additionalClass: "",
        text: "Whether you're a seasoned professional or just starting your career, we offer a diverse range of opportunities across the mission critical sector. Explore our current openings and discover how you can be a part of an extraordinary team.",
        btn: {
          text: "",
          class: "",
        },
      }) %>
      <%= _.template(require('./../includes/cover.html').default)({
        title: "Policy Areas",
        text: "Clients choose MiCiMi for our deep expertise and experience in specific policy areas where we’re known for making an impact.",
        image: "img/services-cover__image.png",
        decor: "img/services-cover__decor.png",
        sectors: [
          "Healthcare, Life Sciences & Wellbeing",
          "Green Transition",
          "Transport & Logistics",
          "Digital & Tech",
          "International Trade"
        ],    
        additionalClass: "cover--services" 

      }) %>
      
      <%= _.template(require('./../includes/solutions.html').default)({}) %>
      
      <%= _.template(require('./../includes/news.html').default)({
        title: "News & <span>Insights</span>",
        text: "We bring the knowledge, skills and insights to engage and mobilise the stakeholders that matter, creating coalitions for impact.",
        image: "img/info__image.png",
        btn: {
          text: "Read More",
          class: "btn-secondary",
        },
      }) %>
      <%= _.template(require('./../includes/cta.html').default)({
        title: "Talk to us about <br> your project",
        image: "img/cta__image.png",
        decor: "img/cta__decor.png",
        btn: {
          text: "Get in Touch",
          class: "btn-primary",
        }
      }) %>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>
<%=_.template(require('./../includes/sidebar.html').default)(data) %>   
